<!DOCTYPE html>
<html>
<head>
  <title>Let's Get Started</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <script src="https://kit.fontawesome.com/c6fae16368.js" crossorigin="anonymous"></script>
  <script>
    function addLanguageToURL(language, link) {
      var newURL = link + '/' + language.toLowerCase();
      window.location.href = newURL;
    }
  </script>
</head>
<body>
  <a class="btn" href="/"><i class="fa-sharp fa-regular fa-arrow-left"></i></a>
  <div class="container">
    <h2>Which language do you want to learn?</h2>
    <a class="btn" href="javascript:void(0);" onclick="addLanguageToURL('Spanish', '/picksubject')">Spanish</a>
    <a class="btn" href="javascript:void(0);" onclick="addLanguageToURL('Mandarin', '/picksubject')">Mandarin</a>
    <a class="btn" href="javascript:void(0);" onclick="addLanguageToURL('Korean', '/picksubject')">Korean</a>
    <a class="btn" href="javascript:void(0);" onclick="addLanguageToURL('Japanese', '/picksubject')">Japanese</a>
  </div>
</body>
</html>

