<!DOCTYPE html>
<html>
<head>
  <title>Let's Get Started</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <script src="https://kit.fontawesome.com/c6fae16368.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap" rel="stylesheet">
  <script>
    function addLanguageToURL(language, link) {
      var newURL = link + '/' + language.toLowerCase();
      window.location.href = newURL;
    }
  </script>
</head>
<body>
  <nav>
    <div class="left-side">
      <a class="btn" href="/"><i class="fa-sharp fa-regular fa-arrow-left"></i> back</a>
    </div>
    <div class="right-side">
      <p2 class="animate-charcter">lovelang</p2>
    </div>
  </nav>

  <div class="container">
    <h2>Which language do you want to learn?</h2>
    <a class="btn" href="javascript:void(0);" onclick="addLanguageToURL('Spanish', '/picksubject')">🇲🇽 Spanish</a>
    <a class="btn" href="javascript:void(0);" onclick="addLanguageToURL('Mandarin', '/picksubject')">🇨🇳 Mandarin</a>
    <a class="btn" href="javascript:void(0);" onclick="addLanguageToURL('Korean', '/picksubject')">🇰🇷 Korean</a>
    <a class="btn" href="javascript:void(0);" onclick="addLanguageToURL('Japanese', '/picksubject')">🇯🇵 Japanese</a>
    <a class="btn" href="javascript:void(0);" onclick="addLanguageToURL('Vietnamese', '/picksubject')">🇻🇳 Vietnamese</a>
    <a class="btn" href="javascript:void(0);" onclick="addLanguageToURL('French', '/picksubject')">🇫🇷 French</a>


  </div>
</body>
</html>

