<!DOCTYPE html>
<html>
<head>
  <title>subject menu</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
  <a class="btn" href="/init"><i class="fa-sharp fa-regular fa-arrow-left"></i> back</a>

    <div class="container">
        <h2>what will we work on today</h2>
        <a class="btn" href="{{ request.path }}/practice">practice</a>
        <a class="btn" href="{{ request.path }}/converse">converse</a>
        <a class="btn" href="{{ request.path }}/modules">modules</a>
    </div>
</body>
</html>

<script src="https://kit.fontawesome.com/c6fae16368.js" crossorigin="anonymous"></script>