<!DOCTYPE html>
<html>
  <head>
  <title>practice</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <style>
    .key {
      font-size: 24px;  /* adjust as necessary */
    }
    .value {
      font-size: 18px;  /* adjust as necessary */
    }
  </style>
</head>
<body>

  <a class="btn" href="/picksubject"><i class="fa-sharp fa-regular fa-arrow-left"></i></a>

    <div class="container">
      <div id="content">
          {% for key, value in syllables_dict.items() %}
            <div class="syllable">{{ key }}</div>
            <div class="tip">{{ value|safe }}</div>
          {% endfor %}
      </div>
    </div>
</body>
</html>

<script src="https://kit.fontawesome.com/c6fae16368.js" crossorigin="anonymous"></script>